#!/usr/bin/python
# -*- coding: utf-8 -*-
#
# Created by flytrap

SECRET_KEY = ''
DEBUG = True
SHOW_SIGNUP = True  # 显示注册接口
SHOW_DOCS = True  # 显示文档

REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES': (
        # 'rest_framework.authentication.TokenAuthentication',
        'flytrap.auth.account.token.auth.TokenAuthentication',
        # 'rest_framework.authentication.SessionAuthentication',
    ),
    'DEFAULT_PERMISSION_CLASSES': (
        # 'rest_framework.permissions.AllowAny',
        'rest_framework.permissions.IsAuthenticated',
    ),
    'DEFAULT_FILTER_BACKENDS': ('django_filters.rest_framework.DjangoFilterBackend',),
    # 'DEFAULT_FILTER_BACKENDS': ('flytrap.base.backends.MysqlDjangoFilterBackend',),

    'DEFAULT_PAGINATION_CLASS': 'rest_framework.pagination.PageNumberPagination',
    'MAX_PAGE_SIZE': 50,
    'PAGE_SIZE': 10  # default page size
}

SWAGGER_SETTINGS = {
    'DOC_EXPANSION': 'list',
    'JSON_EDITOR': True,
    'LOGIN_URL': 'rest_framework:login',
    'LOGOUT_URL': 'rest_framework:logout',
    'USE_SESSION_AUTH': True,
}
